body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

header {
    width: 100%;
    padding: 10px 0;
    background-color: #0a426d;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid red;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #0a426d;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#query-box {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ebeaea;
    border-radius: 4px;
}

button {
    background-color: #0a426d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0a426d;
}

.radio-buttons {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

.radio-label {
    font-size: 16px;
    color: #ff9900;
}
.pp{
    color: #ffffff;
}
.results {
    margin-top: 20px;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ff9900;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-item p {
    margin: 5px 0;
}

.result-item p.score {
    font-weight: bold;
    color: red;
}

.result-item p.id {
    font-size: 14px;
    color: #888;
}